SKU,COLLECTION,PRODUCT,COLOUR,L cm (LENGTH),W cm (WIDTH),H cm (HEIGHT),G.W. kg (GROSS WEIGHT),PARCEL NO.,PCS/PARCEL,PO NO.,DESTINATION,COUNTRY OF ORIGINABCDEA01EFC2X,Fancy Collection,Dining Chair Set of 2,Black,82,61,110,17.6,1 of 1,2,11ABCDEF01,MELBOURNE,MADE IN AUSTRALIA
